#menu {
  width: 1280px;
  background-color: #222222;
  margin-bottom: 20px;

  li {
    display: inline-block;

    button {
      color: #ffffff;
      padding: 10px 20px;
      background-color: #222222;
      border: 1px #ffffff solid;
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 1em;

      &:hover {
        background-color: #487cdb;
      }
    }
  }
}